* {
    font-family: 'Poppins';
}
body { 
    background-color: #1f1f1f;
    padding: 20px 20px;
}
.capai {
    display: inline-flex;
}
.cabecalho { 
    background-color: rgba(255, 255, 255, 0);
    display: inline-flex;
    width: 1100px;
    padding-left: 0px;
    padding-right: 20px;
}
#log1 { 
    padding: 0px 0px 0px 60px;
}
.logos { 
    background-color: rgba(0, 255, 255, 0);
    padding: 7px 50px 10px 20px;
}
.logos img { 
    background-color: rgba(137, 43, 226, 0);
    display: flex;
}
.cabecalho li { 
    padding: 10px 30px 0px 50px;
}
.cabecalho a{
    color: #909090;
    display: inline-flexbox;
}
.cabecalho a:hover{
    color:white
}
.logos {
    display: inline-flex;
    height: 30px;
    width: 90px;
}
li { 
    list-style: none;
}
a { 
    text-decoration: none;
}
.iniciopai { 
    background-color: rgba(128, 0, 128, 0);
    height: 400px;
    position: relative;
    }
.esquerda1 { 
    background-color: rgba(15, 128, 0, 0);
    height: 50%;
    padding: 50px 2px 0px 110px;
    display: inline-block;
    position: absolute; 
    top: 0;
}
.esquerda1 p {
    color: #909090;
}
.esquerda1 h1 { 
    color: white;
}
.direita1 { 
    background-color: rgba(5, 114, 177, 0);
    display: inline-flex; 
    width: 590px;
    height: 100px; 
    padding: 20px 20px 280px 700px;
}
.direita1 p {
    color: #909090;
    font-size: 0.95rem;
}
.direita1 a{
    color: white;
}
.direita1 a:hover {
    text-decoration: underline;
}
.texto1 { 
    background-color: rgba(255, 0, 0, 0);
    padding: 20px 100px;
    color: white;
    padding-left: 270px;
}
.texto2 { 
    background-color: rgba(0, 89, 255, 0);
    padding: 20px 0px 0px 100px;
    height: 150px;
    width: 480px;
}
.texto2 h2 { 
    color: white;
}
.texto2 p {
    color: #909090;
}
.texto3 { 
    background-color: rgba(179, 245, 209, 0);
    padding: 10px 0px 0px 100px;
    width: 480px;
    height: 65px;
    display: inline-flex;
}
.texto3 img {
    padding: 20px 0px 0px 0px ;
    height: 30px;
    width: 40px;
}
.texto3 p {
    padding: 0px 10px 0px 10px;
    color: #909090;
}
.link {
    background-color: rgba(0, 128, 0, 0);
    padding : 10px 0px 0px 100px;
    width: 480px;
    height: 35px;
    display: inline-flex;
}
.link a { 
    color: white;
    padding: 0px 10px 0px 10px;
}
.link img {
    width: 30px;
    height: 30px;
}
.cells {
    background-color: rgba(250, 172, 4, 0);
}
.cell img { 
    padding: 20px 20px;
    display: inline-flex;
}
.conteudo { 
    display: inline-flex;
    justify-content: space-evenly;
    width: 100%;
}
.conteudo .cell { 
    width: 80%;
}
.conteudo1 { 
    background-color: rgba(255, 255, 255, 0.315);
    padding: 100px 650px 0px 150px;
    display: inline-flex;
}
.esqmae {
    width: 500px;
    background-color: rgba(255, 0, 0, 0.226);
    padding: 0px 1px 1px 0px;
}
.text1 {
    background-color: rgba(0, 255, 255, 0.336);
    padding: 0px 0px 0px 0px;
    height: 160px;
    width: 500px;
}
.text1 h2 {
    color: white;
}
.text1 p{ 
    color : #909090;
}
.text2 { 
    background-color: rgba(179, 245, 209, 0);
    padding: 0px 10px 20px 10px;
    width: 480px;
    height: 65px;
    display: inline-flex;
    color: #909090;
}
.text2 img {
    padding: 20px 10px 0px 0px ;
    height: 30px;
    width: 40px;
}
.text3 { 
    background-color: rgba(0, 0, 255, 0);
    padding: 0px 0px 20px 10px;
    width: 490px;
    height: 30px;
    display: flex;
}
.text3 a {
    background-color: rgba(0, 255, 255, 0);
    color: white;
    text-decoration: underline;
    padding: 0px 10px 0px 10px;
}
.text3 img {
    background-color: rgba(0, 255, 255, 0);
    width: 30px;
    height: 30px;
}
.direita2 { 
    background-color: aqua;
    padding: 10px 0px 0px 0px;
    height: 350px;
    width: 550px;
}
.direita2 img { 
    width: 550px;
    height: 350px;
}
