* {
    font-family: 'Poppins';
}
body { 
    background-color: #1f1f1f;
    padding: 20px 20px;
}
.cabecalho { 
    background-color: rgba(255, 255, 255, 0);
    display: inline-flex;
    width: 1200px;
    padding: 20px 0p;
}
.cabecalho img {
    height: 39px;
    width: 80px;
    padding: 0px 20px;
}
.cabecalho li { 
    padding: 10px 50px;
}
.cabecalho a{
    color: rgb(103, 103, 103);
}
.cabecalho a:hover{
    color:white
}
.logos {
    display: inline-flex;
    height: 30px;
    width: 90px;
}
.texto1 { 
    background-color: rgba(255, 0, 0, 0);
    padding: 20px 100px;
    color: white;
}
.texto2 { 
    background-color: rgba(0, 89, 255, 0);
    padding: 20px 0px 0px 100px;
    height: 150px;
    width: 480px;
}
.texto2 h2 { 
    color: white;
}
.texto2 p {
    color : rgb(95, 95, 95)
}
.texto3 { 
    background-color: rgba(179, 245, 209, 0);
    padding: 10px 0px 0px 100px;
    width: 480px;
    height: 65px;
    display: inline-flex;
}
.texto3 img {
    padding: 20px 0px 0px 0px ;
    height: 30px;
    width: 40px;
}
.texto3 p {
    padding: 0px 10px 0px 10px;
    color: rgb(94, 94, 94);
}
.link {
    background-color: rgba(0, 128, 0, 0);
    padding : 10px 0px 0px 100px;
    width: 480px;
    height: 35px;
    display: inline-flex;
}
.link a { 
    color: white;
    padding: 0px 10px 0px 10px;
}
.link img {
    width: 30px;
    height: 30px;
}
li { 
    list-style: none;
}
.cells {
    background-color: rgba(250, 172, 4, 0);
}
.cell img { 
    padding: 20px 20px;
    display: inline-flex;
}
a { 
    text-decoration: none;
}
.conteudo { 
    display: inline-flex;
    justify-content: space-evenly;
    width: 100%;
}
.conteudo .cell { 
    width: 80%;
}
